.navbar_Div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-bottom: black solid 1px;
}


.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    list-style-type: none;

}